@font-face {
  font-family: "iconfont"; /* Project id 4102861 */
  src: url('iconfont.eot?t=1686013587653'); /* IE9 */
  src: url('iconfont.eot?t=1686013587653#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1686013587653') format('woff2'),
       url('iconfont.woff?t=1686013587653') format('woff'),
       url('iconfont.ttf?t=1686013587653') format('truetype'),
       url('iconfont.svg?t=1686013587653#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: "\e66a";
}

.icon-download:before {
  content: "\e66c";
}

.icon-move:before {
  content: "\e67b";
}

.icon-zhongmingming:before {
  content: "\e67e";
}

.icon-ashbin:before {
  content: "\e665";
}

.icon-zip:before {
  content: "\e772";
}

.icon-txt:before {
  content: "\e644";
}

.icon-exe:before {
  content: "\e6da";
}

.icon-yunwenjianweishibie:before {
  content: "\e61e";
}

.icon-pdf:before {
  content: "\e602";
}

.icon-mp3:before {
  content: "\e607";
}

.icon-wenjianjia:before {
  content: "\e64d";
}

